
<%= form_for @jedi, :html => {:multipart => true} , :id => 'form_871710', :class => 'appnitro' do |f| %>

  <div class="form_description">
     
      <p>Never trust a Jedi</p>
    </div>      


  <% if @jedi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jedi.errors.count, "error") %> prohibited this jedi from being saved:</h2>

      <ul>
      <% @jedi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<li id="li_2" >
    <label class="description" for="element_2">Name </label>
    <span>
      <!--<input id="element_2_1" name= "element_2_1" class="element text" maxlength="255" size="20" value=""/> -->
      <%= f.text_field :first_name , :id => "element_2_1", :class => "element text", :input_html => {:size => 20, :maxlength => 255} %>


      <label>First</label>
    </span>
    <span>
     <!-- <input id="element_2_2" name= "element_2_2" class="element text" maxlength="255" size="25" value=""/> -->

       <%= f.text_field :last_name , :id => "element_2_2", :class => "element text", :input_html => {:size => 20, :maxlength => 255} %>
      <label>Last</label>
    </span><p class="guidelines" id="guide_2"><small>First name and last name</small></p> 
    </li>


 <li id="li_4" >
<label class="description" for="element_4">Gender </label>
 <span>
<!--<input id="element_4_1" name="element_4" class="element radio" type="radio" value="1" /> -->
<%= f.radio_button(:sex,"Male", :id =>"element_4_1", :class =>"element radio")%>
<label class="choice" for="element_4_1">Male</label>
<!--<input id="element_4_2" name="element_4" class="element radio" type="radio" value="2" /> -->
<%= f.radio_button(:sex,"Female", :id =>"element_4_2", :class =>"element radio")%>
<label class="choice" for="element_4_2">Female</label>

    </span> 
    </li>   

<%= render :partial => address_form, :locals => {:f => f} %>

   


  <li id="li_3" >
    <label class="description" for="element_3">Upload a Picture </label>
    <div>
     <!-- <input id="element_3" name="element_3" class="element file" type="file"/> -->
      <%= f.file_field :picture, :id => "element_3", :class => "element file"%>
    </div>  
    </li>


  <div class="subbutton">
    <%= f.submit %>
  </div>
<% end %>


