<%#= form_for(@jedi) do |f| %>
  
<!--<img id="top" src="top.png" alt=""> -->

<%= form_for @jedi, :html => {:multipart => true} , :id => 'form_871710', :class => 'appnitro' do |f| %>

  <div class="form_description">
     
      <p>Never trust a Jedi</p>
    </div>      


  <% if @jedi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jedi.errors.count, "error") %> prohibited this jedi from being saved:</h2>

      <ul>
      <% @jedi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<li id="li_2" >
    <label class="description" for="element_2">Name </label>
    <span>
      <!--<input id="element_2_1" name= "element_2_1" class="element text" maxlength="255" size="20" value=""/> -->
      <%= f.text_field :first_name , :id => "element_2_1", :class => "element text", :input_html => {:size => 20, :maxlength => 255} %>


      <label>First</label>
    </span>
    <span>
     <!-- <input id="element_2_2" name= "element_2_2" class="element text" maxlength="255" size="25" value=""/> -->

       <%= f.text_field :last_name , :id => "element_2_2", :class => "element text", :input_html => {:size => 20, :maxlength => 255} %>
      <label>Last</label>
    </span><p class="guidelines" id="guide_2"><small>First name and last name</small></p> 
    </li>


 <li id="li_4" >
<label class="description" for="element_4">Gender </label>
 <span>
<!--<input id="element_4_1" name="element_4" class="element radio" type="radio" value="1" /> -->
<%= f.radio_button(:sex,"Male", :id =>"element_4_1", :class =>"element radio")%>
<label class="choice" for="element_4_1">Male</label>
<!--<input id="element_4_2" name="element_4" class="element radio" type="radio" value="2" /> -->
<%= f.radio_button(:sex,"Female", :id =>"element_4_2", :class =>"element radio")%>
<label class="choice" for="element_4_2">Female</label>

    </span> 
    </li>   


<li id="li_1" >
    <label class="description" for="element_1">Address </label>
    
    <div>
      <!--<input id="element_1_1" name="street_address" class="element text large" value="" type="text">-->
         <%= f.text_field :street_address , :id => "element_1_1", :class => "element text large" %>

      <label for="element_1_1">Street Address</label>
    </div>
  
    <div>
      <!--<input id="element_1_2" name="street_address_2" class="element text large" value="" type="text"> -->
         <%= f.text_field :street_address_2 , :id => "element_1_2", :class => "element text large" %>
      <label for="element_1_2">Address Line 2</label>
    </div>
  
    <div class="left">
     
        <%= f.text_field :city, :id => "element_1_3", :class => "element text medium" %>
      <label for="element_1_3">City</label>
    </div>
  
    <div class="right">
     
        <%= f.text_field :county, :id => "element_1_4", :class => "element text medium" %>
      <label for="element_1_4">State / Province / Region</label>
    </div>
  
    <div class="left">
     
         <%= f.text_field :postal_code, :id => "element_1_5", :class => "element text medium" %>
        
      <label for="element_1_5">Postal / Zip Code</label>
    </div>
  
    <div class="right">
        
       <!-- <select class="element select medium" id="element_1_6" name="country">  -->
  

        
<%= f.select(:country, options_for_select([
  
['select',""],
['Afghanistan','Afghanistan'],
['Albania','Albania'],
['Algeria','Algeria'],
['Andorra','Andorra'],
['Antigua and Barbuda','Antigua and Barbuda'],
['Argentina','Argentina'],
['Armenia','Armenia'],
['Australia','Australia'],
['Austria','Austria'],
['Azerbaijan','Azerbaijan'],
['Bahamas','Bahamas'],
['Bahrain','Bahrain'],
['Bangladesh','Bangladesh'],
['Barbados','Barbados'],
['Belarus','Belarus'],
['Belgium','Belgium'],
['Belize','Belize'],
['Benin','Benin'],
['Bhutan','Bhutan'],
['Bolivia','Bolivia'],
['Bosnia and Herzegovina','Bosnia and Herzegovina'],
['Botswana','Botswana'],
['Brazil','Brazil'],
['Brunei','Brunei'],
['Bulgaria','Bulgaria'],
['Burkina Faso','Burkina Faso'],
['Burundi','Burundi'],
['Cambodia','Cambodia'],
['Cameroon','Cameroon'],
['Canada','Canada'],
['Cape Verde','Cape Verde'],
['Central African Republic','Central African Republic'],
['Chad','Chad'],
['Chile','Chile'],
['China','China'],
['Colombia','Colombia'],
['Comoros','Comoros'],
['Congo','Congo'],
['Costa Rica','Costa Rica'],
['Côte d Ivoire','Côte d Ivoire'],
['Croatia','Croatia'],
['Cuba','Cuba'],
['Cyprus','Cyprus'],
['Czech Republic','Czech Republic'],
['Denmark','Denmark'],
['Djibouti','Djibouti'],
['Dominica','Dominica'],
['Dominican Republic','Dominican Republic'],
['East Timor','East Timor'],
['Ecuador','Ecuador'],
['Egypt','Egypt'],
['El Salvador','El Salvador'],
['Equatorial Guinea','Equatorial Guinea'],
['Eritrea','Eritrea'],
['Estonia','Estonia'],
['Ethiopia','Ethiopia'],
['Fiji','Fiji'],
['Finland','Finland'],
['France','France'],
['Gabon','Gabon'],
['Gambia','Gambia'],
['Georgia','Georgia'],
['Germany','Germany'],
['Ghana','Ghana'],
['Greece','Greece'],
['Grenada','Grenada'],
['Guatemala','Guatemala'],
['Guinea','Guinea'],
['Guinea-Bissau','Guinea-Bissau'],
['Guyana','Guyana'],
['Haiti','Haiti'],
['Honduras','Honduras'],
['Hong Kong','Hong Kong'],
['Hungary','Hungary'],
['Iceland','Iceland'],
['India','India'],
['Indonesia','Indonesia'],
['Iran','Iran'],
['Iraq','Iraq'],
['Ireland','Ireland'],
['Israel','Israel'],
['Italy','Italy'],
['Jamaica','Jamaica'],
['Japan','Japan'],
['Jordan','Jordan'],
['Kazakhstan','Kazakhstan'],
['Kenya','Kenya'],
['Kiribati','Kiribati'],
['North Korea','North Korea'],
['South Korea','South Korea'],
['Kuwait','Kuwait'],
['Kyrgyzstan','Kyrgyzstan'],
['Laos','Laos'],
['Latvia','Latvia'],
['Lebanon','Lebanon'],
['Lesotho','Lesotho'],
['Liberia','Liberia'],
['Libya','Libya'],
['Liechtenstein','Liechtenstein'],
['Lithuania','Lithuania'],
['Luxembourg','Luxembourg'],
['Macedonia','Macedonia'],
['Madagascar','Madagascar'],
['Malawi','Malawi'],
['Malaysia','Malaysia'],
['Maldives','Maldives'],
['Mali','Mali'],
['Malta','Malta'],
['Marshall Islands','Marshall Islands'],
['Mauritania','Mauritania'],
['Mauritius','Mauritius'],
['Mexico','Mexico'],
['Micronesia','Micronesia'],
['Moldova','Moldova'],
['Monaco','Monaco'],
['Mongolia','Mongolia'],
['Montenegro','Montenegro'],
['Morocco','Morocco'],
['Mozambique','Mozambique'],
['Myanmar','Myanmar'],
['Namibia','Namibia'],
['Nauru','Nauru'],
['Nepal','Nepal'],
['Netherlands','Netherlands'],
['New Zealand','New Zealand'],
['Nicaragua','Nicaragua'],
['Niger','Niger'],
['Nigeria','Nigeria'],
['Norway','Norway'],
['Oman','Oman'],
['Pakistan','Pakistan'],
['Palau','Palau'],
['Panama','Panama'],
['Papua New Guinea','Papua New Guinea'],
['Paraguay','Paraguay'],
['Peru','Peru'],
['Philippines','Philippines'],
['Poland','Poland'],
['Portugal','Portugal'],
['Puerto Rico','Puerto Rico'],
['Qatar','Qatar'],
['Romania','Romania'],
['Russia','Russia'],
['Rwanda','Rwanda'],
['Saint Kitts and Nevis','Saint Kitts and Nevis'],
['Saint Lucia','Saint Lucia'],
['Saint Vincent and the Grenadines','Saint Vincent and the Grenadines'],
['Samoa','Samoa'],
['San Marino','San Marino'],
['Sao Tome and Principe','Sao Tome and Principe'],
['Saudi Arabia','Saudi Arabia'],
['Senegal','Senegal'],
['Serbia and Montenegro','Serbia and Montenegro'],
['Seychelles','Seychelles'],
['Sierra Leone','Sierra Leone'],
['Singapore','Singapore'],
['Slovakia','Slovakia'],
['Slovenia','Slovenia'],
['Solomon Islands','Solomon Islands'],
['Somalia','Somalia'],
['South Africa','South Africa'],
['Spain','Spain'],
['Sri Lanka','Sri Lanka'],
['Sudan','Sudan'],
['Suriname','Suriname'],
['Swaziland','Swaziland'],
['Sweden','Sweden'],
['Switzerland','Switzerland'],
['Syria','Syria'],
['Taiwan','Taiwan'],
['Tajikistan','Tajikistan'],
['Tanzania','Tanzania'],
['Thailand','Thailand'],
['Togo','Togo'],
['Tonga','Tonga'],
['Trinidad and Tobago','Trinidad and Tobago'],
['Tunisia','Tunisia'],
['Turkey','Turkey'],
['Turkmenistan','Turkmenistan'],
['Tuvalu','Tuvalu'],
['Uganda','Uganda'],
['Ukraine','Ukraine'],
['United Arab Emirates','United Arab Emirates'],
['United Kingdom','United Kingdom'],
['United States','United States'],
['Uruguay','Uruguay'],
['Uzbekistan','Uzbekistan'],
['Vanuatu','Vanuatu'],
['Vatican City','Vatican City'],
['Venezuela','Venezuela'],
['Vietnam','Vietnam'],
['Yemen','Yemen'],
['Zambia','Zambia'],
['Zimbabwe','Zimbabwe']

 ])) %> 

    <label for="element_1_6">Country</label>
  </div> 
    </li>   


  <li id="li_3" >
    <label class="description" for="element_3">Upload a Picture </label>
    <div>
     <!-- <input id="element_3" name="element_3" class="element file" type="file"/> -->
      <%= f.file_field :picture, :id => "element_3", :class => "element file"%>
    </div>  
    </li>


  <div class="subbutton">
    <%= f.submit %>
  </div>
<% end %>


